<!DOCTYPE html>
<html lang="ja">
<!--CSSファイルの読み込み-->
<link href="/static/css/main.css" rel="stylesheet">

<!--jQueryファイルの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<base target="_top">
<title>Start Scenario</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Start Scenario">
</head>

<body>

<div id="container">
<div id="contents">
<section id="category">

<h2>シナリオテスト</h2>

<div class="list">
  <h3>シナリオテスト実行</h3>
  <table class="ta1">
    <tr><th>テストID</th><th>開始結果</th></tr>
    <tr><td>{{ test_id }}</td><td>{{ start_result }}</td></tr>
    </tr>
  </table>
</div>

<div class="list">
  <h3>テスト結果確認</h3>
  <table class="ta1">
    <tr>
      <td><a href="{{ report_viewer_url }}" target="_blank">テスト結果一覧</a></td>
      <td><a href="{{ aap_url }}" target="_blank">Ansible Automation Platform</a></td>
      <td><a href="{{ openshift_url }}" target="_blank">OpenShift Console</a></td>
    </tr>
  </table>
</div>

</section>
<!--/#category-->
<p class="centered-text"><input type="button" value="戻る" onclick="location.href = '/';"></p>
</div>
<!--/#contents-->

</div>
<!--/#container-->

<footer>
  <p>Demo from Red Hat</p>
</footer>

</body>
</html>
